<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="se.winterei.rtraffic">

    <!-- for google-location-services -->
    <meta-data
        android:name="com.google.android.gms.version"
        android:value="@integer/google_play_services_version" />

    <!-- To auto-complete the email text field in the login form with the user's emails -->

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".RTraffic"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <service android:name=".libs.geofencing.GeofenceTransitionsIntentService" />
        <service
            android:name=".services.BackgroundTrafficStatus"
            android:exported="false" />
        <service
            android:name=".services.FirebaseInstanceIDTracker"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT" />
            </intent-filter>
        </service>
        <service
            android:name=".services.FirebaseNotificationService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <receiver
            android:name=".services.PeriodicRunner"
            android:process=":remote" />

        <activity android:name=".activities.IntroSlider">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activities.GSignInActivity" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key" />

        <activity android:name=".activities.MainActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".activities.SettingsActivity"
            android:label="@string/title_activity_settings" />
        <activity
            android:name=".activities.HelpActivity"
            android:label="@string/help_label" />
        <activity
            android:name=".activities.TrafficReportActivity"
            android:screenOrientation="portrait"
            android:label="@string/traffic_report" />
        <activity
            android:name=".activities.ExcludedRegionsActivity"
            android:screenOrientation="portrait"
            android:label="@string/nav_exclude_regions" />
        <activity
            android:name=".activities.PointsOfInterestActivity"
            android:label="@string/nav_notif_reg" />
        <activity
            android:name=".activities.MyLocationActivity"
            android:label="@string/nav_mylocation" />
        <activity
            android:name=".activities.GeoFenceActivity"
            android:label="@string/nav_geofence" />

        <activity android:name=".activities.CommentOverlay"
            android:label="@string/nav_comment_overlay" />
    </application>

</manifest>